.desativo{
    display: none;
}

.cidades-container{
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);  
    display: none;
    width: 100%;
    height: 100%;

    header{
        width: 100%;
        border: 1px solid #707070;
        padding: 5% 2vh;
        position: relative;
        img{
            height: 1.5em;
            width: 5%;
        }

        span{
            position: absolute;
            left: 15%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.2em;
        }
    }

    .cidade{
        ul{
            list-style: none;
            margin: 0 10%;
            padding: 2vh 0;
            width: 80%;
            border-bottom: 1px solid  #707070;
            font-size: 1.2em;
            li{
                display: inline-block;
                width: 50%;

            }
            li:last-child{
                text-align: right;
            }
        }
    }
}

.cidades-container.ativo{
    display: block;
}

.adicionar-cidade-botao{
    position: fixed;
    width: 75px;
    height: 75px;
    right: 15px;
    bottom: 15px;
    background-color: #58CFD8;
    border-radius: 50%;
    color: white;
    overflow: hidden;
    span{
        font-size: 6em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-51%);
    }
}

.adicionar-cidade{
    display: none;
    .background{
        z-index: 120;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #70707085;
    }
}

.adicionar-cidade.ativo{
    display: block;
}

.adicionar-cidade-container{
    z-index: 130;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 80%;
    text-align: center;
    border: 1px solid #707070;
    padding-bottom: 20px;

    div{
        padding: 3%;
        display: flex;
        input{
            width: 80%;
            border: 1px solid #707070;
            padding: 4%;
    
        }
        input:focus{
            outline: none;
        }
        .botao{
            width: 20%;
            background-color: #58CFD8;
            border: 1px solid #707070;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60%;
                height: 60%;
                transform: translate(-50%,-50%);
            }
        }

    }

}