<div class="cidades-container" [ngClass]="cidadesDisplay">
  <header><img src="assets/icon/seta-back.svg" alt="back" (click)="cidadesDisplauChange()"> <span>Cidades</span></header>
  <div class="cidade">
    <ul *ngFor="let cidade of cidades">
      <li>{{ cidade }}</li>
      <li (click)="apagarCidade(cidade)">
        <img src="assets/icon/trash.svg" />
      </li>
    </ul>
  </div>
  <div class="adicionar-cidade" [ngClass]="adcCidadeDisplay">
    <div class="background" (click)="toggleAdcCidade()"></div>
    <div class="adicionar-cidade-container">
      <h1>Adicionar Cidade</h1>
      <div>
        <input type="text" placeholder="Cidade" [(ngModel)]="inputCidade" />
        <span class="botao" (click)="adicionarCidade()">
          <img src="assets/icon/seta-direita.svg" alt="seta" />
        </span>
      </div>
    </div>
  </div>
  <div class="adicionar-cidade-botao" (click)="toggleAdcCidade()">
    <span>+</span>
  </div>
</div>