*{
    padding: 0;
    margin: 0;
    display: block;
    color: white;
}
header{
    width: 100%;
    padding: 6vh 0 2.5vh 0;

    h1{
      font-size: 7em; 
    }
    h3{
        font-size: 2.5em; 
    }    
}

.hoje{
    width: 100%;
    height: 5vh;
    padding: 1vh 10%;
   
    ul{
        list-style: none;
        li{
            display: inline-block;
            width: 15%;
            text-align: right;
            font-size: 1.4em;
        }
        li:first-child{
            width: 70%;
            text-align: left;
        }
        li:last-child{
            color: rgb(204, 204, 204);
        }
    }
}

.forecast-horas{
    min-height: 10vh;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    background-color: #aeaeae4d;

    ion-slides{
        min-height: 10vh;
        padding: 1vh 0;
    }

    ion-slide{
        ul{
            text-decoration: none;

            li{
                text-align: center;
                img{
                    transform: scale(0.8);
                }
            }
            li:first-child{
                span{
                    font-size: 0.7em;
                }
            }
        }

    }

}

.forecast-dias{
    width: 100%;
    border-bottom: 3px solid grey;

    .forecast-dias-item{
        background-color: #7e7e7e3a;
        padding: 1vh 10%;

        ul{
            list-style: none;
            li{
                width: 15%;
                position: relative;
                display: inline-block;
                position: relative;
                font-size: 0.9em;
                height: 30px;
                img{
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
                span{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            li:first-child{
                width: 50%;
            }
            li:nth-child(2){
                width: 20%;
            }
            li:nth-child(3) span,
            li:nth-child(4) span{
                right: 0;
            }
            li:nth-child(4) span{
                color: rgb(204, 204, 204);
            }

        }
    }

    .forecast-dias-item:nth-child(even){
        background-color: #aeaeae4d;
    }
}

