<header>
  <h3>Local</h3>
  <p>texto</p>
  <h1>18º</h1>
</header>
<main>
  <div class="hoje">
    <ul>
      <li>Hoje</li>
      <li>19</li>
      <li>12</li>
    </ul>
  </div>
  <div class="forecast-horas">
    <!--SLIDER-->
  </div>
  <div class="forecast-dias">
    <div class="forecast-dias-item" *ngFor="let item of this.arrayDumby">
     <ul>
       <li><span>Segunda-feira</span></li>
       <li><img src="//cdn.weatherapi.com/weather/64x64/day/113.png"></li>
       <li><span>20</span></li>
       <li><span>12</span></li>
     </ul>
    </div>

  </div>
  <div class="nivel-conforto"></div>
  <div class="vento"></div>
  <div class="astro"></div>
</main>