* {
  padding: 0;
  margin: 0;
  display: block;
  color: white;
}
.background{
  position: sticky;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 0.7;
}

header {
  position: relative;
  width: 100%;
  padding: 6vh 0 2.5vh 0;
  z-index: 1010;
  margin-top: -100vh;

  h1 {
    font-size: 5.5em;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    white-space: nowrap;
  }
}

main{
  position: relative;
  z-index: 1011;
}
.hoje {
  width: 100%;
  min-height: 5vh;
  padding: 1vh 10%;

  ul {
    list-style: none;
    li {
      display: inline-block;
      width: 15%;
      text-align: right;
      font-size: 1.4em;
    }
    li:first-child {
      width: 70%;
      text-align: left;
    }
    li:last-child {
      color: rgb(204, 204, 204);
    }
  }
}

.forecast-horas {
  min-height: 10vh;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  background-color: #aeaeae4d;

  ion-slides {
    min-height: 10vh;
    padding: 1vh 0;
    background: none !important;
  }

  ion-slide {
    ul {
      text-decoration: none;

      li {
        text-align: center;
        img {
          transform: scale(0.8);
        }
      }
      li:first-child {
        span {
          font-size: 0.7em;
        }
      }
    }
  }
}

.forecast-dias {
  width: 100%;
  border-bottom: 3px solid grey;

  .forecast-dias-item {
    background-color: #3f3f3f88;
    padding: 1vh 10%;

    ul {
      list-style: none;
      li {
        width: 15%;
        position: relative;
        display: inline-block;
        position: relative;
        font-size: 0.9em;
        height: 30px;
        img {
          height: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      li:first-child {
        width: 50%;
      }
      li:nth-child(2) {
        width: 20%;
      }
      li:nth-child(3) span,
      li:nth-child(4) span {
        right: 0;
      }
      li:nth-child(4) span {
        color: rgb(204, 204, 204);
      }
    }
  }

  .forecast-dias-item:nth-child(even) {
    background-color:  #aeaeae4d;
  }
}

.tres-ultimos-itens {
  min-height: 15vh;
  background-color: #aeaeae4d;
  border-bottom: 3px solid grey;
  padding-top: 1.5vh;
  padding-bottom: 1.6vh;
  h3 {
    font-size: 0.8em;
  }
}

.tabela {
  width: 85%;
  display: table;
  padding-top: 1.5vh;
  margin: auto;
}
.table-cell {
  width: 50%;
  display: table-cell;
  h5{
    padding-top: 1.5vh;
    font-size: 0.8em;
  }
  canvas{
    width: 50vw;
  }
  .turbine{
    width: 80%;
    margin: auto;
  }
}

.table-cell:last-child {
  position: relative;

  .vento-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
    p {
      display: table;
      width: 100%;
      padding-top: 1.5vh;
      span:first-child {
        font-size: 0.7em;
        color: rgb(204, 204, 204);
        display: table-cell;
      }
      span:last-child {
        color: white;
        font-size: 0.9em;
        display: table-cell;
        padding-left: 15px;
      }
    }
    p:last-child {
        padding-bottom: 1.5vh;
    }
  }
}

.astro-table-cell{
  text-align: center;
  img{
    width: 35%;
    margin: auto;
  }
}

main::after{
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    position: relative;
}