ion-slide{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}


ion-slide{
  background-color: rgb(8, 2, 87);
}

nav{
  position: fixed;
  width: 100%;
  border-top: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.342);
  height: 30px;
  z-index: 9;
  bottom: 0;

  img{
    position: absolute;
    right: 1vh;
    top: 10%;
    height: 70%;
  }
}