<ion-content [fullscreen]="true">

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <app-home-child [local]="'Lisboa'"></app-home-child>
          </ion-slide>
          <ion-slide>
            <app-home-child [local]="'Porto, Portugal'"></app-home-child>
          </ion-slide>
          <ion-slide>
            <app-home-child [local]="'Faro, Portugal'"></app-home-child>
          </ion-slide>
    </ion-slides>
        
    <nav>
        <img src="/assets/icon/bars.svg" alt="bars">
    </nav>
</ion-content>