<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">JADther App</ion-title>
        </ion-toolbar>
    </ion-header>



    <div id="container">
        <h1>
            Não estás sozinho, JADther for you!
        </h1>
        <ion-item>
            <ion-button (click)="showLink()">Link debug</ion-button>
            <ion-button (click)="getCurrentDay()">Check Current Weather</ion-button>
            <ion-button (click)="getAstronomy()">Check Astronomy</ion-button>
            <ion-button (click)="getForcast()">Check Forecast</ion-button>
        </ion-item>
    </div>
</ion-content>